.top{
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background: rgba(238, 238, 238, 0.91);
    color: #16a084;
    box-shadow: 0 12px 20px -10px rgba(255, 249, 255, 0.48), 0 4px 20px 0 rgb(246, 246, 246), 0 7px 8px -5px rgb(252, 252, 252);;
    overflow: hidden;
}
.logo{
    position: absolute;
    width: 360px;
    height: 120px;
}
.logo img{
    width: 360px;
    height: 120px;
}
.title{
    position: absolute;
    margin-left: 400px;
    display: block;
    width: 300px;
    height: 120px;

}
.logo_text h2{
    line-height: 120px;
    text-align: center;
}

.user{
    position: relative;
    height: 120px;
    line-height: 120px;
    margin-right: 40px;
    float: right;
}